/*fiz cada um dos links separados do outro, para futuramente poder operar em cada um separadamente*/
body {
    background-color: #030D42;
    font-family: courier;
    text-align: center;
}
h1 {
    color:#448F06;
    font-size: 100px;
    padding-top: 50px;
    border:10px; 
    margin:20px;
    border-radius: 30px; 
    
}
h3 {
    color: #448F06;
    border:10px; 
    margin:15px;
    padding-bottom: 25px;
   font-size: 30px;
    border-radius: 30px; 
    
}
#scanners {
     color: #448F06;
    border:20px; 
    margin:40px;
   font-size: 50px;
    border-radius: 30px; 
    padding: 50px;
    
}
#dificuldade {
       color: #448F06;
    border:20px; 
    margin:40px;
   font-size: 50px;
    border-radius: 30px; 
    padding: 50px;
}
#sujestao {
       color: #448F06;
    border:20px; 
    margin:40px;
   font-size: 50px;
    border-radius: 30px; 
    padding: 50px;
}
#auto {
       color: #448F06;
    border:20px; 
    margin:40px;
   font-size: 50px;
    border-radius: 30px; 
    padding: 50px;
}
